html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  color: #fff;
}

table {
  position: relative;
  height: 100%;
}

#ability {
  width: 100%;
  height: auto;
  text-align: center;
}

#ability p {
  margin-top: 10px;
}

#ability td {
  width: 33.33%;
  height: auto;
}

#ability img {
  height: 64px;
}

#data {
  position: relative;
  padding-top: 10vh;
}

#data h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 6em;
  margin-bottom: 15px;
}

#data h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.p {
  line-height: normal;
  padding: 50px 80px;
}

#img {
  background-repeat: no-repeat;
  background-size: 40vh;
  background-position: center;
  width: 35vw;
}
#data {
  width: 65vw;
}

#info {
  background-image: url('img/godHeader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 100vh;
}

#black-ov {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #492c4a 30%, rgba(255, 255, 255, 0) 500%);
  left: 0;
  top: 0;
}

#gods {
  position: relative;
}

#gods p {
  color: #f3db71;
  font-family: 'Athiti', sans-serif;
  font-size: 25px;
  margin-top: 0;
  transition: all .3s;
}

button:hover p {
  color: #fff !important;
  background: #492c4a;
  transform: translateY(-40px);
}

ul {
  width: 100vw;
  bottom: 0;
}

ul:hover button {
  transform: translateX(-25%);
}

ul:hover button:hover {
  transform: scale(1.5) translateY(-25px);
  transition-duration: 0.2s;
}

ul:hover button:hover~button {
  transform: translateX(25%);
}

button {
  float: left;
  width: 8.333%;
  height: 150px;
  transition: all 0.2s;
}

button img {
  width: 100%;
  position: relative;
}

button:nth-child(1) {
  background: #3f3e4c;
}

button:nth-child(2) {
  background: #49505a;
}

button:nth-child(3) {
  background: #596d6b;
}

button:nth-child(4) {
  background: #758d80;
}

button:nth-child(5) {
  background: #97a693;
}

button:nth-child(6) {
  background: #b6c2aa;
}

button:nth-child(7) {
  background: #a28a7d;
}

button:nth-child(8) {
  background: #927162;
}

button:nth-child(9) {
  background: #7e594f;
}

button:nth-child(10) {
  background: #5a3940;
}

button:nth-child(11) {
  background: #352033;
}

button:nth-child(12) {
  background: #261025;
}
